/* aca empieza la nav */
nav {
    background-color:#FAFAFA; 
    padding: 10px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 40px;
}  
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 90px;
    height: 50px;
}
.info {
    display: flex;
    gap: 30px;
}
.linksNav {
    font-weight: bold;
    justify-content: center;
    color: black;
    text-decoration: none;
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.navLink{
    transition: transform 0.3s;
}
.navLink:hover {
    transform: scale(1.05);
}
.redes {
    display: flex;
    gap: 15px;
    width: 30px;
    margin-right: 100px;
    height: 30px;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
/* hasta aca va la nav */

/* primer cuadro negro */
.aboutMe {
    width: 100%;
    height: 510px;
    background-color:black;
    color: white;
}
.Alva {
    font-size: 140px; 
    margin: 150px 0 0 5px;
}
.name {
    font-size: 140px; 
    margin: 150px 0 0 8px;
}
.name-dev{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dev {
    font-size: 140px; 
    margin: 150px 8px 0 0;
}
.career {
    font-size: 18px;
    margin: 30px 0 0 9px;
}
/* hasta aca va el primer cuadro negro */
/* description .aboutMe2 */
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 80px 20px 0;
    margin: 0 auto 80px;
    max-width: 1200px;
}
.aboutText {
    max-width: 500px;
}
.about-me2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}
.description {
    font-size: 18px;
    line-height: 1.6;
}
.photoLina {
    width: 280px;
    gap: 30px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}
/* cartas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 60px 20px 90px 20px;
}

@media (min-width: 600px) {
    .grid-container {
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .grid-container {
    grid-template-columns: repeat(4, 1fr);
    }
}
.card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.02);
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card h3 {
    font-size: 22px;
    color: #333;
}
.card p {
    font-size: 16px;
    color: #666;
}
.card-buttons {
    display: flex;
    gap: 8px;
    margin-top: 12px;
}
.card-buttons button {
    flex: 1;
    padding: 9.6px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn1{
    background-color:#808080;
    color: white;
}
.btn1:hover {
    background-color: #727272;
}
.btn-secondary {
    background-color: #e0e0e0;
    color: #333;
}
.btn-secondary:hover {
    background-color: #ccc;
}
/* fin- cartas */
.Projects{
    font-size: 32px;
    padding-top: 80px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-weight: bold;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
    padding-top: 10px;
}
.btn{ 
    background-color: black;
}
.projects-body {
    background-color: #ECECEC;
    padding-bottom: 20px;
}

.botones {
    gap: 10px;
    background-color: #808080;
    border-color: #808080;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
.botones:hover {
    background-color: #a9a9a9; 
    cursor: pointer;
}
footer {
    width: 100%;
    height: 220px;
    background-color: black;
}
.social-footer {
    gap: 15px;
    width: 30px;
    transition: transform 0.4s;
}
.social-footer:hover {
    transform: scale(1.08);
}
.correo {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.footer-2 {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.logo-footer {
    width: 50px;
    border-radius: 10px;
    margin: 20px;
}
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-final {
    color: #ECECEC;
    font-size: 13px;
}
.card-text {
    font-size: 12px;
}
.backend{
    background-color:#6D6875;
}
/* menu hambuerguesa */
.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info {
    display: flex;
    gap: 20px;
}

.hamburguesa {
    position: absolute;
    top: -9px;
    color: black;
    display: none;
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .logo {
        display: none;
    }
    .info {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px; 
        left: 0;
        width: 100%;
        padding: 10px;
    }
    .info.activo {
        display: flex;
    }
    .hamburguesa {
        display: block;
        margin-left: 0
    }
}
@media (max-width: 1284px) {
    .name {
        font-size: 130px;
        margin-top: 40px;
        margin: 150px 0 0 10px;
    }
    .dev {
        font-size: 130px;
        color: gray;
        margin-left: auto;
        margin: 150px 10px 0 0 ;
    }
    .Alva {
        font-size: 130px;
        margin: 150px 0 0px 0px;
    }
}
@media (max-width: 1213px) {
    .name {
        font-size: 120px;
        margin: 150px 0 0 10px;
    }
    .dev {
        font-size: 120px;
        color: gray;
        margin-left: auto;
        margin: 150px 10px 0 0;
    }  
    .Alva {
        font-size: 120px;
        margin: 150px 0 0px 0px;
    }
    .contenedorNegro {
        display: flex;
        justify-content: space-between;
        width: 1000px;
    }
}
@media (max-width: 1100px) {
    .name {
        font-size: 110px;
        margin: 170px 0 0 10px;
    }
    .dev {
        font-size: 110px;
        color: gray;
        margin-left: auto;
        margin: 170px 10px 0 0;
    }  
    .Alva {
        font-size: 110px;
        margin: 170px 0 0px 0px;
    }
}
@media (max-width: 1031px) {
    .name {
        font-size: 100px;
        margin: 170px 0 0 10px;
    }
    .dev {
        font-size: 100px;
        color: gray;
        margin-left: auto;
        margin: 170px 10px 0 0;
    }  
    .Alva {
        font-size: 100px;
        margin: 170px 0 0px 0px;
    }
}
@media (max-width: 930px) {
    .name {
        font-size: 90px;
        margin: 170px 0 0 10px;
    }
    .dev {
        font-size: 90px;
        color: gray;
        margin-left: auto;
        margin: 170px 10px 0 0;
    }  
    .Alva {
        font-size: 90px;
        margin: 170px 0 0px 0px;
    }
    .career {
        font-size: 16px;
    }
}
@media (max-width: 850px) {
    .name {
        font-size: 80px;
        margin: 170px 0 0 10px;
    }
    .dev {
        font-size: 80px;
        color: gray;
        margin-left: auto;
        margin: 170px 10px 0 0;
    }  
    .Alva {
        font-size: 80px;
        margin: 170px 0 0px 0px;
    }
    .aboutMe {
        height: 435px;
    }
    .photoLina {
        width: 320px;
        height: auto;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    }
}
@media (max-width: 760px) {
    .name {
        font-size: 70px;
        margin: 165px 0 0 10px;
    }
    .dev {
        font-size: 70px;
        color: gray;
        margin-left: auto;
        margin: 165px 10px 0 0;
    }  
    .Alva {
        font-size: 70px;
        margin: 165px 0 0px 0px;
    }
    .aboutMe {
        height: 420px;
    }
}
@media (max-width: 669px) {
    .name {
        font-size: 60px;
        margin: 165px 0 0 10px;
    }
    .dev {
        font-size: 60px;
        color: gray;
        margin-left: auto;
        margin: 165px 10px 0 0;
    }  
    .Alva {
        font-size: 60px;
        margin: 165px 0 0px 0px;
    }
    .career {
        font-size: 14px;
    }
    .aboutMe {
        width: 100%;
        height: 420px;
    }
}
@media (max-width: 570px) {
    .name {
        font-size: 55px;
        margin: 165px 0 0 10px;
    }
    .dev {
        font-size: 55px;
        color: gray;
        margin-left: auto;
        margin: 165px 10px 0 0;
    }  
    .Alva {
        font-size: 55px;
        margin: 165px 0 0px 0px;
    }
    .aboutMe {
        width: 100%;
        height: 420px;
    }
}
@media (max-width: 535px) {
    .name {
        font-size: 50px;
        margin: 165px 0 0 10px;
    }
    .dev {
        font-size: 50px;
        color: gray;
        margin-left: auto;
        margin: 165px 10px 0 0;
    }  
    .Alva {
        font-size: 50px;
        margin: 165px 0 0px 0px;
    }
    .aboutMe {
        width: 100%;
        height: 420px;
    }
}
@media (max-width: 430px) {
    .name {
        font-size: 38px;
        margin: 165px 0 0 5px;
    }
    .dev {
        font-size: 38px;
        color: gray;
        margin-left: auto;
        margin: 165px 5px 0 0;
    }  
    .Alva {
        font-size: 38px;
        margin: 165px 0 0px 0px;
    }
    .aboutMe {
        width: 100%;
        height: 400px;
    }
    .career {
        font-size: 12px;
        margin: 30px 0 0 8px;
    }
}
@media (max-width: 414px) {
    .name {
        font-size: 38px;
        margin: 165px 0 0 5px;
    }
    .dev {
        font-size: 38px;
        color: gray;
        margin-left: auto;
        margin: 165px 5px 0 0;
    }  
    .Alva {
        font-size: 38px;
        margin: 165px 0 0px 0px;
    }
    .aboutMe {
        width: 100%;
        height: 400px;
    }
    .career {
        font-size: 12px;
        margin: 30px 0 0 8px;
    }
}
@media (max-width: 375px) {
    .name {
        font-size: 38px;
        margin: 165px 0 0 5px;
    }
    .dev {
        font-size: 38px;
        color: gray;
        margin-left: auto;
        margin: 165px 5px 0 0;
    }  
    .Alva {
        font-size: 38px;
        margin: 165px 0 0px 0px;
    }
    .aboutMe {
        width: 100%;
        height: 370px;
    }
    .career {
        font-size: 12px;
        margin: 30px 0 0 8px;
    }
}
